.link {
    cursor: pointer;
}

.navlist {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0;
    margin: 0;
    list-style: none;

}

.currentLocation {
    font-weight: bold;
}

.navbar {
    background-color: #6fd892;
    padding: 2em;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5em;
}

@media (min-width: 600px) {
    .navbar {
        max-width: 60%;
        margin-top: 1em;
    }
}